* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4.2fr;
  margin: 0%;
  padding: 0%;
}

h1, h2, h3, h4, p {
  padding: 0%;
  margin: 0%;
  align-self: center;
}

img {
  width: 60%;
  height: 60%;
  justify-self: center;
  align-self: center;
}

.sidebar {
  display: grid;
  grid-template-rows: .2fr .9fr 1fr;
  background-color: blueviolet;
}

.sidebar-item-container {
  display: grid;
  align-content: start;
  background-color: green;
}

.sidebar-item {
  display: grid;
  grid-template-columns: .3fr .7fr;
  align-self: center;
  background-color: aqua;
}

.main {
  display: grid;
  grid-template-rows: .23fr 1fr;
  background-color: blue;
}

.top-bar {
  display: grid;
  grid-template-rows: .6fr 1fr;
}

.search-bar, .sub-bar {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

input {
  appearance: none;
  height: 30px;
  width: 90%;
  border: none;
  border-radius: 13px;
  background-color: lightgray;
}

input:focus {
  outline: none;
}

.search {
  display: grid;
  grid-template-columns: .2fr 1fr;
  align-items: center;
  background-color: yellow;
}

.search img, .container img {
  justify-self: end;
}

.container {
  display: grid;
  grid-template-columns: .8fr 1fr 1fr 3fr;
  align-items: center;
  justify-items: center;
  background-color: aqua;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  align-items: center;
}

button {
  height: 30%;
  width: clamp(56px, 80%, 80%);
  background-color: chartreuse;
  border: none;
  border-radius: 22px;
}

button:hover {
  background-color: white;
}

.content-container {
  display: grid;
  grid-template-columns: 1fr .4fr;
}

.projects-container {
  display: grid;
  grid-template: .2fr repeat(3, 1fr) / 1fr 1fr;
  justify-items: center;
  background-color: blueviolet;
}

.card {
  height: 90%;
  width: 90%;
  border-radius: 14px;
  border-left: 8px solid darkgoldenrod;
  background-color: azure;
}

.rightside-content {
  display: grid;
  grid-template-rows: .18fr 1fr .18fr 1fr;
  justify-items: center;
  background-color: green;
}

.rightside-content > h2 {
  justify-self: start;
  margin-left: 6%;
}

.announcements-container {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(3, 1fr);
  width: 90%;
  border-radius: 20px;
  background-color: azure;
}

.announcements-container > div {
  margin-left: 5%;
  margin-right: 5%;
}

.announcements-container > div:nth-child(2) {
  width: 90%;
  height: 100%;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.announcements-container > div:nth-child(2) > h4 {
  margin-top: 5%;
} 

.announcements-container > div:nth-child(2) > p {
  margin-bottom: 5%;
}

.trending-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 90%;
  height: 90%;
  border-radius: 20px;
  background-color: azure;
}

.trending {
  display: grid;
  grid-template-columns: .4fr 1fr;
  align-items: center;
}