* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4.2fr;
  margin: 0%;
  padding: 0%;
}

img {
  width: 60%;
  height: 60%;
  justify-self: center;
  align-self: center;
}

.sidebar {
  display: grid;
  grid-template-rows: .2fr .9fr 1fr;
  background-color: blueviolet;
}

.sidebar-item-container {
  display: grid;
  align-content: start;
  background-color: green;
}

.sidebar-item {
  display: grid;
  grid-template-columns: .3fr .7fr;
  align-self: center;
  background-color: aqua;
}

.main {
  display: grid;
  grid-template-rows: .23fr 1fr;
  background-color: blue;
}

.top-bar {
  display: grid;
  grid-template-rows: .6fr 1fr;
}

.search-bar, .sub-bar {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

input {
  appearance: none;
  height: 30px;
  width: 90%;
  border: none;
  border-radius: 13px;
  background-color: lightgray;
}

input:focus {
  outline: none;
}

.search {
  display: grid;
  grid-template-columns: .2fr 1fr;
  align-items: center;
  background-color: yellow;
}

.search img, .container img {
  justify-self: end;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: center;
  justify-items: center;
  background-color: aqua;
}

.profile-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  align-items: center;
}

button {
  height: 30%;
  width: clamp(56px, 80%, 80%);
  background-color: chartreuse;
  border: none;
  border-radius: 22px;
}

button:hover {
  background-color: white;
}